<div id="contact" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12">
                <blockquote class="default" >
                    <h1>Fotos</h1>
                </blockquote>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_caminata.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Caminata</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_camping.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Camping</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_casa.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Casa del Arbol</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_casa_1.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Paisaje</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_casa_2.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Casa antigua</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_casa_arbol.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Puente a la casa</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_casa_puente.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Puente</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_casa_vista_2.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Paisaje casa del árbol</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_fauna_1.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Fauna</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_fauna_2.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Fauna</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_guarichuro.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Deportes</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_pared_escalada_2.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Deportes</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_restaurante.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Restaurante</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_puente_casa.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Vista paisaje</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_restaurante_2.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Restaurante</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_paisaje.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Vista paisaje</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_perro.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">Mascotas</span>
                            </p>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>


                </div>
                <!-- <h2>VIDEOS</h2> -->
            </div>
        </div>
    </div>