<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/images/granja/logo_web.png" alt="el_reencuentro_logo" width="80%" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbars-rs-food" 
            aria-expanded="false" aria-label="Toggle navigation"  (click)="collapsed()" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" [ngClass]="{ 'show': expanded }" >
                <ul class="navbar-nav ml-auto">
                     <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="inicio" (click)="collapsed()"    >
                            {{ 'inicio' | transloco }}
                        </a>
                    </li>
                    <li class="nav-item dropdown" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">
                            {{ 'acerca.acerca' | transloco }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" routerLink="acerca/historia" (click)="collapsed()" >
                                {{ 'acerca.historia' | transloco }}
                            </a>
                            <a class="dropdown-item" routerLink="acerca/mision" (click)="collapsed()" >
                                {{ 'acerca.mision' | transloco }}
                            </a>
                            <a class="dropdown-item" routerLink="acerca/vision" (click)="collapsed()" >
                                {{ 'acerca.vision' | transloco }}
                            </a>
                        </div>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" routerLink="galeria" (click)="collapsed()" >
                            {{ 'galeria.galeria' | transloco}}
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item"><a class="nav-link"
                        routerLink="actividades-general" (click)="collapsed()" >
                        {{ 'actividades.actividades' | transloco }}
                    </a></li>
                    <li routerLinkActive="active" class="nav-item"><a class="nav-link"
                            routerLink="ubicacion" (click)="collapsed()" >
                        {{ 'ubicacion.ubicacion'  | transloco}}
                        </a></li>
                    <li routerLinkActive="active" class="nav-item"><a class="nav-link"
                            routerLink="contactos" (click)="collapsed()" >
                        {{ 'contacto.contacto' | transloco }}
                        </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="hover-btn-new log orange" href="#" data-toggle="modal"
                            data-target="#login">
                            <span>
                                {{ 'reservas.reservas' | transloco }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <img class="img-responsive" src="assets/images/granja/el_reencuentro_txt.png" alt=""
                style="position: absolute;">
            <div class="modal-header tit-up" style="min-height: 100px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


            </div>
            <div class="modal-body customer-box">
                <div class="tab-pane" id="Registration">
                    <form role="form" class="form-horizontal"
                    [formGroup]="reservaForm" 
                    (submit)="enviarMsg()"
                    >
                        <div class="text-center">
                            <h4>
                                {{ 'reservas.reservas' | transloco }}
                            </h4>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label>{{ 'reservas.nombres' | transloco}}:</label>
                                    <input class="form-control" placeholder="{{ 'reservas.nombres' | transloco}}" type="text"
                                    formControlName="nombres"
                                    >
                                    <small *ngIf="campoValido('nombres')" class="text-danger" >
                                        {{ 'reservas.campoObligatorio' | transloco }}
                                    </small>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 ">
                                    <label>{{ 'reservas.apellidos' | transloco }}:</label>
                                    <input class="form-control" placeholder="{{ 'reservas.apellidos' | transloco }}" type="text"
                                    formControlName="apellidos"
                                    >
                                    <small *ngIf="campoValido('apellidos')" class="text-danger" >
                                        {{ 'reservas.campoObligatorio' | transloco }}
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label>{{ 'reservas.email' | transloco }}:</label>
                                    <input class="form-control" placeholder="{{ 'reservas.email' | transloco }}" type="email"
                                    formControlName="correo"
                                    >
                                    <small *ngIf="campoValido('correo')" class="text-danger" >
                                        {{ 'reservas.emailError' | transloco }}
                                    </small>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 ">
                                    <label>{{ 'reservas.telefono' | transloco }}:</label>
                                    <input class="form-control" placeholder="{{ 'reservas.telefonoContacto' | transloco }}" type="text"
                                    formControlName="telefono"
                                    >
                                    <small *ngIf="campoValido('telefono')" class="text-danger" >
                                        {{ 'reservas.campoObligatorio' | transloco }}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label>{{ 'reservas.fechaPrevista' | transloco }}:</label>
                                    <input class="form-control" type="date"
                                    formControlName="fechaPrevista"
                                    >
                                    <small *ngIf="campoValido('fechaPrevista')" class="text-danger" >
                                        {{ 'reservas.campoObligatorio' | transloco }}
                                    </small>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 ">
                                    <label>{{ 'reservas.numeroPersonas' | transloco }}:</label>
                                    <input class="form-control" placeholder="1" type="number"
                                    formControlName="numPersonas"
                                    >
                                    <small *ngIf="campoValido('numPersonas')" class="text-danger" >
                                        {{ 'reservas.campoObligatorio' | transloco }}
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>{{ 'reservas.observacionPersonal' | transloco }}:</label>
                                <input class="form-control" placeholder="{{ 'reservas.observacionPersonal' | transloco }}" type="text"
                                formControlName="observacion"
                                >
                                <small *ngIf="campoValido('observacion')" class="text-danger" >
                                    {{ 'reservas.campoObligatorio' | transloco }}
                                </small>
                            </div>
                        </div>
                        <div class="row text-center">

                            <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                                {{ 'reservas.enviar' | transloco}}
                            </button>
                            <button type="button" class="btn btn-light btn-radius btn-brd grd1" data-dismiss="modal"
                                aria-hidden="true">
                                {{ 'reservas.cancelar' | transloco }}
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>