<div id="overviews" class="section lb">
    <div class="container"> 
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">        
                    <div class="inner-hmv wow fadeIn ">
                        <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
                        <h3> {{ 'acerca.mision' | transloco}} </h3>
                        <div class="tr-pa">M</div>
                        <h2 class="text-justify " >
                           {{ 'acerca.textoMision' | transloco}}
                        </h2>
                    </div>
            </div>
            
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="assets/images/granja/el_rencuentro.png" alt="" class="img-fluid img-rounded">
                </div>
            </div>
        </div>
    </div>
</div>