<div id="overviews" class="section lb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="inner-hmv  wow fadeIn">
                    <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                    <h3>Historia</h3>
                    <div class="tr-pa">H</div>
                    <h2 class="text-justify" >
                        Para comprender como nació El Reencuentro, tenemos que presentar  a José Domingo Pilicita, un hombre, fuerte de carácter  pero que le gustaban que todo se realice correctamente y su esposa María Transito Pilicita, una mujer muy amorosa, humilde y trabajadora, ellos fueron padres de 8 hijos, que los criaron en lo que ahora conocemos como el reencuentro, ahí se dedicaron a la ganadería y la agricultura.
                    </h2>
                    <h2 class="text-justify" >
                        Es ahí donde José Domingo vivió sus últimos años de vida junto con su ganado, después de su muerte, pasa a pertenecer  a su esposa, quien luego de varios años decide vender esta propiedad, pero siempre buscando que esta lugar quede dentro de la familia,
                        de lo que una de sus nietas que vivió sus mejores años de infancia,cruzando el rio San Pedro con una lechera llevando la comida a su abuelo,
                    <!-- </h2>
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
                            <h2 class="text-justify" >
                                Es ahí donde José Domingo vivió sus últimos años de vida junto con su ganado, después de su muerte, pasa a pertenecer  a su esposa, quien luego de varios años decide vender esta propiedad, pero siempre buscando que esta lugar quede dentro de la familia,
                                de lo que una de sus nietas que vivió sus mejores años de infancia,cruzando el rio San Pedro con una lechera llevando la comida a su abuelo,
                            </h2>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 author-desc">
                            <img src="assets/images/author.jpg" alt="el_reencuentro_jose_domingo">
                            <p class="text-white" >José Domingo</p>
                        </div>
                    </div> 
                    <h2 class="text-justify" >-->
                        en donde él con cariño ofrecía leche recién ordeñada de su ganado , otro recuerdo viviente es el  recoger el chamburo una fruta realmente deliciosa y refrescante.
                        Decide junto con su familia comprar esta propiedad pero esta vez con la mira de cumplir uno de sus grandes anhelos crear un lugar turístico en donde los visitantes conozcan la zona rural de la parroquia Machachi.
                    </h2>
                   

                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                            <img class="img-fluid img_history" src="assets/images/granja/el_rencuentro.png" alt="el_reencuentro">
                            <p class="text-white" >José Domingo</p>
                        </div>
                        <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 ">
                            <h2 class="text-justify" >
                                Es así que este proyecto se va desarrollando,  con la visión soñadora de los que comprendemos El Reencuentro, el cual de a poco se  estado formado, con el objetivo que es fortalecer los valores y la unión de la familiar, con un turismo de aventura y de naturaleza para el disfrute de la belleza natural que nos ofrece el cantón Mejía y su paraíso escondido Puichig 
                            </h2>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="" alt="" class="img-fluid img-rounded">
                </div>
          </div>
        </div>
    </div>
</div>