<div id="overviews" class="section lb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="inner-hmv  wow fadeIn">
                    <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                    <h3>Historia</h3>
                    <div class="tr-pa">H</div>
                    <h2 class="text-justify" >
                        “EL RENCUENTRO” (granja, aventura y naturaleza); nace con la ideología de ejercer el turismo familiar dentro de la Parroquia de Machachi; rescatando así la historia de nuestra familia. 
                    </h2>
                    <h2 class="text-justify" >
                        
                    <!-- </h2>
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
                            <h2 class="text-justify" >
                                Es ahí donde José Domingo vivió sus últimos años de vida junto con su ganado, después de su muerte, pasa a pertenecer  a su esposa, quien luego de varios años decide vender esta propiedad, pero siempre buscando que esta lugar quede dentro de la familia,
                                de lo que una de sus nietas que vivió sus mejores años de infancia,cruzando el rio San Pedro con una lechera llevando la comida a su abuelo,
                            </h2>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 author-desc">
                            <img src="assets/images/author.jpg" alt="el_reencuentro_jose_domingo">
                            <p class="text-white" >José Domingo</p>
                        </div>
                    </div> 
                    <h2 class="text-justify" >-->
                        Una familia que creció en el campo aprendiendo amar cada uno de sus paisajes y de las actividades que se realizan aquí; una familia con valores que desean seguir perpetuándolas en sus actuales generaciones. El amor al campo que nos dejó como herencia nuestros queridos abuelitos José Domingo Pilicita un hombre trabajador, de varios oficios como carpintero, agricultor y perteneció a la banda Municipal del Cantón Mejía y Maria Transito Pilicita Caiza una mujer amorosa, humilde y trabajadora, ellos fueron padres de 10 hijos; gracias a ellos aprendimos del amor a la tierra. 
                    </h2>
                   

                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                            <img class="img-fluid img_history" src="assets/images/granja/el_rencuentro.png" alt="el_reencuentro">
                            <p class="text-white" >José Domingo</p>
                        </div>
                        <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 ">
                            <h2 class="text-justify" >
                                Es así que sus nietos Mayra y Alexis Luje Pilicita;  Galo y Lidia Pilicita Pilicita deciden construir un proyecto basado en las memorias de una infancia sencilla, tomando leche recién ordeñada, comiendo chamburo; todas esas experiencias han formado un sueño que a través del turismo será una manera de enseñar a valorar, amar, proteger la vida y la naturaleza; basándonos en la filosofía de la conexión de cuerpo, alma, espíritu con el entorno natural, manteniendo así armonía en cada uno de estos aspectos.
                            </h2>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="" alt="" class="img-fluid img-rounded">
                </div>
          </div>
        </div>
    </div>
</div>