<div id="teachers" class="section wb">
    <div class="container">
        <blockquote class="default wow fadeInLeft" > 
            <h2>Selecciona la activdad para ver mas detalles</h2>
        </blockquote>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 wow fadeIn" *ngFor="let actividad of actividades">
                <div class="our-team">
                    <div class="team-img">
                        <img [src]="actividad.img">
                        <div class="social">
                            <ul *ngIf="!actividad.proximo" >
                                <li><a  [routerLink]="actividad.ruta" >Ver</a></li>
                            </ul>
                            <ul *ngIf="actividad.proximo">
                                <h4 style="color: white; font-weight: 600;"  >Pronto...</h4>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{actividad.nombre_es}}</h3>
                    </div>
                </div>
            </div>

        </div><!-- end row -->
    </div><!-- end container -->
</div>

