<div id="overviews" class="section wb">
    <div class="container  wow fadeIn ">
        <div class="row">
            <div class="col-12 blog-post-single">
                <div class="blog-item">
                    <div class="post-content">
                        <div class="post-date">
                            <span class="day">08:00 am</span>
                            <span class="month">04:00 pm</span>
                        </div>
                        <div class="meta-info-blog">
                            <span><i class="fa fa-tag"></i> <a href="#"> Actividades </a> </span>
                            <span><i class="fa fa-calendar"></i> <a href="#"> Horario de Atención</a> </span>
                        </div>
                        <div class="blog-title">
                        </div>
                        <br>
                        <div class="blog-desc">
                            <h1 class="text-center"><a href="#" title="">Granja</a></h1>
                            <p>
                                El Reencuentro, abre sus puertas a los amantes de la Aventura y Naturaleza con la
                                apertura de la primera pared de escalada dentro de la parroquia de Machachi, para
                                experimentados y principiantes que quieran formar parte de la práctica de este deporte y
                                conocer más del turismo rural del Barrio Puichig.

                            </p>
                            <div class="row">
                                <div class="col-sm-12 col-md-10 col-lg-10">
                                    <blockquote class="default">
                                        Contamos con personal capacitado, para brindar la seguridad necesaria y la mejor
                                        experiencia del deporte de escala, con <strong> todas las medidas de
                                            bioseguridad necesarias
                                        </strong> para
                                        salvaguardar la salud de nuestros clientes
                                    </blockquote>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="table-success">
                                        <th scope="col">Tiempo</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>4 horas</td>
                                        <td>$ 3.00</td>
                                        <td>Por persona</td>
                                    </tr>
                                    <tr class="table-success">
                                        <td>3 horas</td>
                                        <td>$ 15.00</td>
                                        <td>A partir de 6 personas previa reservación</td>
                                    </tr>
                                    <tr>
                                        <td>4 horas</td>
                                        <td>$ 2.75</td>
                                        <td>Al momento grupos que superen las 5 personas</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/granja/el_reencuentro_granja.jpeg)">
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/granja/el_reencuentro_granja_1.jpeg)">
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/granja/el_reencuentro_granja_2.jpg)">
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/granja/el_reencuentro_granja_3.jpg)">
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/granja/el_reencuentro_granja_4.jpg)">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="row">
                <a href="#" data-toggle="modal" data-target="#login" class="btn btn-success btn-block">
                    <span>RESERVAR</span></a>
        </div>
    </div>
</div>
