<div id="overviews" class="section wb">
    <div class="container  wow fadeIn ">
        <div class="row">
            <div class="col-12 blog-post-single">
                <div class="blog-item">
                    <div class="post-content">
                        <div class="post-date">
                            <span class="day">08:00 am</span>
                            <span class="month">04:00 pm</span>
                        </div>
                        <div class="meta-info-blog">
                            <span ><i class="fa fa-tag"></i>  {{ 'actividades.actividades' | transloco}}  </span>
                            <span><i class="fa fa-calendar"></i> {{ 'actividades.horarioAtencion' | transloco }}</span>
                        </div>
                        <div class="blog-title">
                        </div>
                        <br>
                        <div class="blog-desc">
                            <h1 class="text-center"><a href="#" title="">{{ 'casaArbol.casaArbol' | transloco}}</a></h1>
                           
                            <div class="row">
                                
                                <div class="col-sm-10 col-md-10 col-lg-10">
                                    <p>
                                       {{ 'casaArbol.textoUno' | transloco }}
                                    </p>
                                    <blockquote class="default">
                                        {{ 'actividades.bloque1' | transloco }} 
                                        <strong> 
                                            {{ 'actividades.bloque2' | transloco }}
                                        </strong> 
                                        {{ 'actividades.bloque3' | transloco }}
                                    </blockquote>
                                </div>

                                <div class="col-sm-2 col-md-2 col-lg-2 text-center ">
                                    <img class="img-responsive" style="min-width: 50%; max-width: 80%;" src="assets/images/usa_mascarilla.png" alt="el_reencuantro_mascarilla">
                                </div>
                                
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="table-success">
                                        <th scope="col">{{ 'actividades.tiempo' | transloco }}</th>
                                        <th scope="col">{{ 'actividades.valor' | transloco }}</th>
                                        <th scope="col">{{ 'actividades.observaciones' | transloco }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>4 {{'actividades.horas' | transloco }}</td>
                                        <td>$ 3.00</td>
                                        <td>{{'casaArbol.observacion1' | transloco }}</td>
                                    </tr>
                                    <tr class="table-success">
                                        <td>3 {{'actividades.horas' | transloco }}</td>
                                        <td>$ 15.00</td>
                                        <td>{{'casaArbol.observacion2' | transloco }}</td>
                                    </tr>
                                    <tr>
                                        <td>4 {{'actividades.horas' | transloco }}</td>
                                        <td>$ 2.75</td>
                                        <td>{{'casaArbol.observacion3' | transloco }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/casa_arbol/el_reencuentro_casa_arbol.jpeg)">
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/casa_arbol/el_reencuentro_casa_arbol_1.jpg)">
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/casa_arbol/el_reencuentro_casa_arbol_2.jpeg)">
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/casa_arbol/el_reencuentro_casa_arbol_3.jpg)">
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/casa_arbol/el_reencuentro_casa_arbol_4.jpeg)">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="row">
                <a href="#" data-toggle="modal" data-target="#login" class="btn btn-success btn-block">
                    <span>{{'reservas.reservas' | transloco}}</span></a>
        </div>
    </div>
</div>