<div id="contact" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <blockquote class="default" >
                    <h1>{{'galeria.fotos' | transloco}}</h1>
                </blockquote>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/senderos/el_reencuentro_sendero.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.caminata' | transloco}}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/campismo/el_reencuentro_camping_3.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.camping' | transloco}}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_casa.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.casaArbol' | transloco}}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_casa_1.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.paisaje' | transloco}}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/campismo/el_reencuentro_camping_2.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{ 'galeria.campingNoche' | transloco }}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_casa_puente.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.puente' | transloco}}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/granja/el_reencuentro_granja.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{ 'galeria.fauna'| transloco  }}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/granja/el_reencuentro_granja_1.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{ 'galeria.fauna'| transloco  }}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_pared_escalada_2.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.deportes' | transloco }}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/restaurante/el_reencuentro_restaurante.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.restaurante' | transloco}}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_puente_2.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.vistaPuente' | transloco}}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/restaurante/el_reencuentro_restaurante_3.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.restaurante' | transloco}}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_puente.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.vistaPaisaje' | transloco}}</span>
                            </p>
                        </div>
                        <div class="swiper-slide"
                            style="background-image:url(assets/images/fotos/el_reencuentro_perrito.jpeg)">
                            <p class="text-center" style="padding-top: 100%;">
                                <span class="alert alert-warning">{{'galeria.mascota' | transloco}}</span>
                            </p>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>


                </div>
                <!-- <h2>VIDEOS</h2> -->
            </div>
        </div>
    </div>